/* Palette colori forse */
:root {
    --color-cards: #FFFFFF;
    --color-dark: #0E0E0E;
}

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    font-family: "Edu TAS Beginner", cursive;
    background-image: url(../img/cork.png);
    font-size: 1.5rem;
}

header {
    background-image: url(../img/wall.png);
    height: 150px;
}

h1 {
    font-size: 5rem;
    text-align: center;
    /* Imposto il line-height uguale all'altezza del suo contenitore
    così da mantenere il testo centrato anche in verticale */
    line-height: 150px;
}

section#container {
    width: 1400px;
    max-width: 1400px;
    margin: 50px auto;
}

/* Cassetto degli strumenti FlexBox */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Fine cassetto degli strumenti FlexBox */
figure {
    margin: 10px;
}

figure {
    padding: 20px;
}

figure.card-container {
    /* flex: 1 0 150px;
    gap: 10px; */
    width: calc((100% - 60px) / 3);
    background-color: var(--color-cards);
    box-shadow: 0px 1px 8px var(--color-dark);
}

/* Animazione che gira la card all'hover del mouse */
figure.card-container:hover {
    transform: rotate(10deg);
    transition: all 1s;
}

/* Animazione che riposiziona la card al punto iniziale quando
il mouse non è più in hover */
figure.card-container:not(:hover) {

    transition: all 1s;
}

.card-container {
    /* Imposto la card a position: relative per poterci inserire lo
    spillo al centro */
    position: relative;
}

/* Padding tra testo e immagine della card */
figcaption {
    padding: 20px;
}

img.pin-image {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: 50%;
    /* Centro l'immagine per bene nell'asse delle X */
    transform: translateX(-50%);
}

.card-image {
    cursor: pointer;
}