/* Palette colori forse */
:root {
    --color-cards: #FFFFFF;
    --color-dark: #0E0E0E;
}

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    font-family: "Edu TAS Beginner", cursive;
    background-image: url(../img/cork.png);
    font-size: 1.5rem;
}

header {
    background-image: url(../img/wall.png);
    height: 150px;
}

h1 {
    font-size: 5rem;
    text-align: center;
    /* Imposto il line-height uguale all'altezza del suo contenitore
    così da mantenere il testo centrato anche in verticale */
    line-height: 150px;
}

section#container {
    width: 1200px;
    max-width: 1200px;
    margin: 50px auto;
}

/* Cassetto degli strumenti FlexBox */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Fine cassetto degli strumenti FlexBox */

figure {
    margin: 10px;
}

figure {
    padding: 20px;
}

figure.card-container {
    /* flex: 1 0 150px;
    gap: 10px; */
    width: calc((100% - 60px) / 3);
    background-color: var(--color-cards);
    box-shadow: 0px 1px 8px var(--color-dark);
}

/* All'hover del mouse sul container aumento lo spessore dell'ombra
della box shadow */
figure.card-container:hover {
    box-shadow: 5px 5px 18px var(--color-dark);
}

/* Animazione che gira la card all'hover del mouse */
figure.card-container:hover {
    transform: rotate(10deg);
    transition: all 1s;
    /* All'hover del mouse metto la card selezionata sempre in primo piano */
    z-index: 100;
}

/* Seleziono e nascondo l'elemento con la classe ".pin-image" (l'immagine con lo
spillino) all'hover del mouse sul contenitore della card */
figure.card-container:hover [class|="pin-image"] {
    display: none;
}

/* Animazione che riposiziona la card al punto iniziale quando
il mouse non è più in hover */
figure.card-container:not(:hover) {
    transition: all 1s;
}

.card-container {
    /* Imposto la card a position: relative per poterci inserire lo
    spillo al centro */
    position: relative;
}

/* Padding tra testo e immagine della card */
figcaption {
    padding: 20px;
}

img.pin-image {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: 50%;
    /* Centro l'immagine per bene nell'asse delle X */
    transform: translateX(-50%);
}

.card-image {
    cursor: pointer;
}

/* Trasformo le iniziali di ogni parola del testo sulle card in maiuscolo */
.title-image {
    text-transform: capitalize;
}

/* Classe per il layout dell'immagine in primo piano */
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}

/* Aggiungo grandezze fisse all'immagine in overlay */
#overlay img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

/* Aggiungo un pò di stile al pulsante in overlay */
#overlay button {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 18px var(--color-dark);
    background-color: #D32776;
    color: var(--color-cards);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#overlay button:hover {
    background-color: #771796;
}

/* Creo la classe display: none */
.d-none {
    display: none !important;
}

/* Soluzione 1:
   Creo la classe specifica per display: none
   perchè overlay avendo una proprietà display: flex; 
   ed avendo un id, questo ha priorità maggiore rispetto al
   display: none nella classe d-none.
   Soluzione 2: aggiungere al display: none; l'istruzione !important 
#overlay.d-none {
    display: none;
} */

/* Classe loader per il caricamento dell'immagine */
#loader {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    /* Imposto lo z-index altrimenti non si vedremme l'icona animata di font-awesone
    per il caricamento */
    z-index: 100;
}



/* -------------------------------------------- */
/* -------------- MEDIA QUERY ----------------- */
/* -------------------------------------------- */

@media screen and (max-width: 1200px) {

    section#container {
        width: 900px;
        max-width: 900px;
    }
}

@media screen and (max-width: 960px) {
    section#container {
        width: 650px;
        max-width: 650px;
    }

    figure.card-container {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width: 720px) {

    section#container {
        width: 530px;
        max-width: 530px;
    }

    .card-container {
        font-size: 1.2rem;
    }

    #overlay img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

@media screen and (max-width: 540px) {
    section#container {
        width: 100%;
        max-width: 100%;
    }

    figure.card-container {
        width: 80%;
    }
}